h3 Minhas avaliações

button(data-btn-modal="new-evaluation") <i class="fas fa-plus"></i> Criar uma nova avaliação
.modal.modal-md(data-modal="new-evaluation")
  form.modal-content(action="/evaluation/register" method="POST")
    .modal-header
      span(data-modal-close="new-evaluation") <i class="fas fa-times-circle"></i>
      h3 Criar uma nova avaliação
    .modal-body
      div 
        label(for="title") Título
        input(type="text" name="title" id="title")
      div
        label(for="description") Descrição
        input(type="text" name="description" id="description")
      div
        label(for="note") Nota
        input(type="number" name="note" id="note", min="0", max="10", step="0.1")
      div
        label(for="unity") Unidade
        select(name="unity" id="unity")
          each unity, index in discipline.unities
            option(value=unity.id, selected) #{unity.title} 
      div
        label(for="questions") Questões
        #questions 
          button(type="button", onclick="createQuestion()") Adicionar nova questão
    .modal-footer
      button.modal-btn-cancel(data-modal-close="new-evaluation", type="button") <i class="fas fa-times-circle"></i> Cancelar 
      button.modal-btn-ok(type="submit") <i class="fas fa-check-circle"></i> Finalizar

table 
  tr 
    th #
    th Título
    th Descrição
    th Questões
    th Nota
    th Unidade
    th Ações
  - cont = 1;
  if discipline.evaluations.length == 0
    tr
      td(colspan="7") Nenhuma avaliação cadastrada
  else
    each evaluation, index in discipline.evaluations
      tr 
        th #{cont++}
        td #{evaluation.title}
        td #{evaluation.description}
        td #{evaluation.questions.length}
        td #{evaluation.note}
        td #{evaluation.unity.title}
        td 
          a(href="/disciplines/discipline/" + discipline.id + "/evaluation/" + evaluation.id) Acessar
          a(href="/disciplines/discipline/" + discipline.id + "/evaluation/" + evaluation.id + "/delete")  | Remover