extends ../layout
block content
  if !support
    h1 Support not found
  else
    h1 Suporte: #{support.title}
    h3 Usuário: 
      a(href=`/u/${support.user.username}`, target="__blank") #{support.user.name}
      |  - #{support.user.username}
    p #{support.content}
    if support.status == 'attending'
      p Atendente: 
        a(href=`/u/${support.attending.username}`, target="__blank") #{support.attending.name}
        |  - #{support.attending.username}
    else if support.status == 'pending' && support.attending == null
      p Aguardando atendimento
    else if support.status == 'concluded'
      p Concluído

    h3 Mensagens 
    if support.responses
      each message in support.responses
        div(class=`message ${message.author}`)
          strong #{message.author == 'user' ? support.user.username : support.attending.username}: 
          |  #{message.response}
          small #{new Date(message.date).toLocaleString("pt-BR")} - #{message.userId === user.id ? message.read ? 'Lida' : 'Não lida' : ''}
    else 
      h4 Não há mensagens
    if support.status == 'attending'
      div 
        form(action=`/admin/support/${support.id}/reply`, method="POST", id="send-message")
          div
            label(for="content") Nova mensagem
            textarea(name="reply", placeholder="Conteúdo")
          div
            button(type="button", onclick=`sendMessage('${support.id}')`) Enviar

  script.
    function sendMessage(id) {
      const reply = document.querySelector('textarea[name="reply"]').value
      fetch(`/support/reply/${id}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          reply
        })
      })
      .then(res => res.json())
      .then(data => {
        if (data.status) {
          location.reload()
        } consosle.log(data)
      })
    }    